body{
    background-image: url("C:\Users\brind\OneDrive\Desktop\projectreact\react\pro\src\loginwall.webp");
    background-repeat: no-repeat;
    background-position: 0%;
    background-size: cover;
}
.login {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
  font-family: 'Comfortaa', cursive;
  border-radius: 50px;
}

.form {
  position: relative;
  z-index: 1;
  background:black;
  border-radius: 10px;
  max-width: 600px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  border-radius: 50px;
  background: rgb(211, 189, 189);
  box-shadow:  -11px 11px 22px  #110000, 11px -11px 22px #0a0000;
}
p{
  font-size: large;
  color:black;
}
h1{
  color:black;
}
.form input {
  outline: 0;
  background:pink;
  color:white;
  width: 100%;
  border: 0;
  border-radius: 5px;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  font-family: 'Comfortaa', cursive;
}

/*.form input:focus {
  background: black;
}*/

.form button {
  font-family: 'Comfortaa', cursive;
  text-transform: uppercase;
  outline: 0;
  background: pink;
  width: 100%;
  border: 0;
  border-radius: 5px;
  padding: 15px;
  color: white;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form button:active {
  background:white;
}
